<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service android:name=".service.BaseSensorRecordingService"
            android:foregroundServiceType="specialUse"
            android:exported="true">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground service for handling data collection from sensors."/>
        </service>

        <service android:name=".service.NTPSyncedSensorRecordingService"
            android:foregroundServiceType="specialUse"
            android:exported="true">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground service for handling data collection from sensors with NTP syncing."/>
        </service>
    </application>
</manifest>